@tailwind base;

@tailwind components;

@tailwind utilities;

@responsive{

  .text-jumbo{
    font-size : 5.5rem;
    font-weight: 900;
  }
  .my{
    height: 600px;
  }
  .my-name{
    position:absolute;
    top : 20%;
    left: 20%;
    transform: translateX(-50%);
  }
  .my-image{
    height: 500px;
    right:0;
  }

  .center-x{
    left:50%;
    transform: translateX(-50%);
  }
  .center-y{
    top:50%;
    transform: translateY(-50%);
  }
  .absolute-center{
    position:absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

}
