:root{
  --color-blue : #0047FF;
  --color-gray : #8C8C8C;
}
body{
  font-family: 'Quicksand',serif ;
  margin:0;
  padding:0;
}
.bg-blue-x{
  background-color: var(--color-blue);
}
.bg-gray-x{
  background-color: var(--color-gray);
}
.text-blue-x{
  color:var(--color-blue);
}
.min-h-28rem{
  min-height: 28rem;
}
.poster-container{
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;  
  scroll-behavior: smooth;
}
.poster-container > img {
  scroll-snap-align: start;
}
.poster-container::-webkit-scrollbar {
  display: none;
}
